<h1 class="text-center mt-20 text-3xl font-bold">Thank you very much for your purchase!</h1>

<div class="mt-14 text-center text-lg font-medium px-4 flex flex-col md:gap-1 gap-6">
  <h3>You can view the details of your purchase in your <a routerLink="/profile" class="underline text-blue-600">profile</a></h3>
  <h3>Check the terms and conditions at <a class="underline text-blue-600" routerLink="/terms">terms</a></h3>
  <h3>Check the common questions at <a class="underline text-blue-600" routerLink="/faq">F.A.Q.</a></h3>
</div>
