<h1 class="text-center mt-14 mb-12 text-3xl">Terms and Conditions</h1>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Acceptable Use Policy</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Our services are intended for personal use only. Redistribution, unauthorized sharing, 
            or malicious modifications are strictly prohibited. Any attempts to compromise our 
            scripts or systems may result in termination of access.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Intellectual Property</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            All scripts and services are protected by intellectual property rights and cannot be 
            copied, distributed, or sold without explicit permission from our team.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Service Suspension or Cancellation</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            We reserve the right to suspend or terminate access to services if terms are violated, 
            particularly in cases of misuse or attempts to disrupt or alter the services provided.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Limitation of Liability</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            We are not liable for indirect, incidental, or consequential damages that arise from 
            the use or misuse of our services. Users are responsible for using services as intended 
            and within the terms outlined.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Data Privacy</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            We collect only the information necessary to process transactions and provide services, 
            including the Roblox ID to verify script usage. We do not share personal information with 
            third parties without consent, except as required by law. Please review our 
            <a class="underline" routerLink="/privacy-policy">Privacy Policy</a> for more details.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Refund Policy</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Refunds are only issued if a script is removed within one week of purchase. Subscription 
            payments are non-refundable, as access is granted to all available scripts. Refunds are 
            available for subscription payments only in cases of error due to the website.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Technical Support</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Support is available 24/7 through our Discord server and the 
            <a class="underline" routerLink="/support">support</a> section. 
            Our team is committed to providing timely assistance to resolve any issues or concerns.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Terms Update</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            These terms and conditions may be updated periodically. We will notify users of major 
            changes through the website or via email. Users are encouraged to review the terms 
            regularly.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Payment Policy</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Payments are processed securely through Stripe. All transactions are final upon 
            completion, with no additional fees or price variations. Subscription renewals are 
            processed automatically unless canceled prior to the renewal date.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Updates</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            You will receive updates for the scripts 100% free once the subscription or individual purchase has been made.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Receive other scripts for free.</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Once you make an individual purchase, you only have access to that script. 
            You do not have access to future scripts or other already published paid scripts 
            unless a page moderator evaluates your case and indicates that you can have access to another free script. 
            However, you only have access to the purchased script, nothing more.
        </p>
    </mat-expansion-panel>
    
</mat-accordion>
