<h1 class="text-center mt-14 mb-12 text-3xl">Terms and Conditions</h1>

<mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Información del usuario y seguridad</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Nosotros no guardamos datos del cliente como tarjetas de credito, etc. Lo que guardamos solamente son los datos necesarios 
                para iniciar sesión, crear cuentas y acceder a tus compras y datos como transacciónes de pagos. Tus datos estan seguros y protegidos 
                ya que nadie tiene acceso a ellos a menos de que se te pida para arreglar algún error con tu compra.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>pagos seguros</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Su pago esta seguro y protegido por Stripe.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Venta protegida y seguridad.</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Nuestros scripts son seguros y no son detectables, en caso de que un administrador del juego o el mismo Roblox 
                te bloquee el acceso, no es nuestra responsabilidad ya que nosotros ofrecemos nuestra seguridad y no debería tener problemas.
                Lo que el cliente haga una vez comprado el script es responsabilidad de el.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Error en la compra</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Si tu compra tuvo algun incoveniente, sera manejado lo antes posible para darte una solución. En caso de que el pago haya sido 
                realizado y el producto o servicio no este funcionando, deberas esperar máximo 3 días para poder tener tu compra, si no fue así tendras la opción de tener 
                reembolso o una compensación extra.
            </p>
        </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Reembolsos</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            No se pueden emitir reembolsos a los clientes, pero pueden haber excepciones que se tienen que hablar primero con soporte
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Compra y venta del script</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            El cliente no puede vender nuestros servicios, solamente personal autorizado y el administrador de la página 
            tienen permitido hacer ventas, en caso de que una persona no autorizada haga ventas sin nuestro concentimiento, 
            sera bloqueado de forma permanente de nuestra página y bloqueado de forma permanente sin derecho a reembolso.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Scripts</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Hay scripts que se venden para crear tus juegos y que son oficiales de nosotros, pero en caso de haber 
            scripts de terceros que afecten la seguridad de Roblox, no nos hacemos responsables de los clientes que usen 
            los scripts ya que puede llegar hasta suspención de tú cuenta y nuestra página esta creada para que cualquiera pueda vender scripts.
        </p>
    </mat-expansion-panel>

</mat-accordion>
