
@if (isLoading()) {
  <div class="flex justify-center mt-20">
    <mat-spinner></mat-spinner>
  </div>
}

@if (user()) {
  <div class="container mx-auto p-6 text-white">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div>
        <h1 class="text-3xl font-bold">Welcome, {{ user()?.email |slice: 0:1 }}***********</h1>
        <p class="text-gray-400">Member {{ user()?.createdAt | date:'mediumDate' }}</p>

        @if (isAdmin) {
          <a routerLink="/dashboard/admin" class="my-1" mat-stroked-button>Panel admin</a>
        }

      </div>
      <div class="mt-4 md:mt-0">
        <button mat-icon-button color="primary" aria-label="Editar Perfil">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <mat-tab-group>

      <mat-tab label="Scripts purchases">
        <view-details-purchases [purchases]="getScriptPurchases"/>
      </mat-tab>
      <mat-tab label="Subscriptions purchases">
        <view-details-purchases [purchases]="getSubscriptionPurchases"/>
      </mat-tab>

    </mat-tab-group>


  </div>
}
