

<h1 class="text-3xl font-bold mt-20 mb-10 text-center">Reset password</h1>

<form (submit)="onResetPassword()" [formGroup]="formEmail" class="max-w-2xl mx-auto px-6 py-4">
    <input-email [formControl]="formEmail.controls.email"></input-email>

    <div class="flex justify-center">
        <button [disabled]="formEmail.invalid || isLoading()" mat-flat-button>Send code</button>
        @if (isLoading()) {
            <mat-progress-spinner></mat-progress-spinner>
        }
    </div>

    <app-show-errors [err]="err()"></app-show-errors>
</form>

