

<h2 mat-dialog-title>Reset Password</h2>
<mat-dialog-content>
  <form (submit)="onSubmit()" [formGroup]="form" class="flex flex-col gap-2">
    <mat-form-field appearance="fill">
      <mat-label>Authentication Code</mat-label>
      <input matInput formControlName="code" maxlength="6" />
      <mat-error> {{ codeError() }} </mat-error>
    </mat-form-field>

    <input-password></input-password>

    <div class="flex justify-center">
        <button [disabled]="form.invalid || isLoading()" mat-flat-button type="submit">Reset password</button>
    </div>

    <app-show-errors [err]="err()"></app-show-errors>
  </form>
</mat-dialog-content>
