

@if (isLoading()) {
  <div class="flex mt-32 justify-center">
    <mat-spinner></mat-spinner>
  </div>
}

@if (script()) {
  <main class="w-full px-4">
    <section class="max-w-4xl mx-auto mt-20 md:py-4 py-2 md:px-8 px-4 bg-white text-black rounded-md">
      <div>
        <div class="flex justify-center">
          <img
            class="w-full my-4 rounded-md"
            [src]="script()!.image"
            alt="Script image"
          >
        </div>

        <div class="mb-8">
          <div class="flex max-md:flex-col gap-1 justify-between md:mb-4 mb-1 md:items-center">
            <div class="flex gap-1 items-center text-gray-600 max-md:text-xs">
              <mat-icon fontIcon="calendar_month"></mat-icon>
              <p>created at: {{formatDate(script()!.createdAt)}}</p>
            </div>
            <div class="flex gap-1 items-center text-gray-600 max-md:text-xs">
              <mat-icon fontIcon="update"></mat-icon>
              <p>last update: {{formatDate(script()!.createdAt)}}</p>
            </div>
          </div>

          <h2 class="md:text-3xl text-lg md:font-bold font-medium mb-2"> {{script()!.name}} </h2>
          <h4 class="font-semibold md:text-xl text-lg mb-4 text-blue-900">
            {{script()!.description}}
          </h4>

          @if (isAvailablePayment) {
            <h1 class="font-bold text-blue-700 md:text-7xl text-5xl">
              {{script()!.price | currency}}
            </h1>
          }
        </div>

        @if (isAvailablePayment) {
          <div class="flex gap-2 flex-col mb-8 md:text-xl text-lg font-medium text-yellow-500">
            <div class="flex gap-1 items-center text-blue-500 drop-shadow-sm">
              <p class="font-semibold text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-yellow-600">
                {{getStarsMedium}}
              </p>
              <mat-icon fontIcon="star" class="text-yellow-400 drop-shadow-md"></mat-icon>
            </div>
            <p class="text-green-600 font-semibold tracking-wide drop-shadow-sm">
              {{script()!.purchases.length}} sold
            </p>
          </div>
        }@else {
          <p class="text-center md:text-lg mb-8">This script is available by subscription and individual sale is not available.</p>
        }
      </div>

      <buy-script-btn method="SCRIPT" [id]="id()!"/>
    </section>


    @if (isAvailablePayment) {
      <app-show-rating [scriptId]="script()!.id"></app-show-rating>
    }
  </main>
}


<div class="mt-20">
  <app-show-errors [err]="err()"/>
</div>

