<section class="my-10 max-w-2xl mx-auto">
  <h3 class="text-xl text-center">Add new Script</h3>

  <form (submit)="onSubmit()" class="mt-6">

    <mat-form-field class="w-full">
      <mat-label>Script Name</mat-label>
      <input matInput placeholder="Ex. The best script">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Script description</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="w-full">
      <mat-label>Amount</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Script Status</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="methodPayment">
        <option value="" selected></option>
        @for (opt of options; track $index) {
          <mat-option [value]="opt"> {{opt}} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Youtube Link</mat-label>
      <input matInput placeholder="Ex. https://your-link-video">
    </mat-form-field>

    <div class="flex justify-center">
      <button type="submit" mat-flat-button>Create service</button>
    </div>
  </form>
</section>
