<section class="my-10 max-w-2xl mx-auto">
  <h3 class="text-xl text-center">Add new Script</h3>

  <form (submit)="onSubmit()" [formGroup]="formAddScript" class="mt-6">
    <mat-form-field class="w-full">
      <mat-label>Script Name</mat-label>
      <input (blur)="handleErrors()" [formControl]="formAddScript.controls.name" matInput placeholder="Ex. The best script">
      <mat-error> {{nameErr()}} </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Script description</mat-label>
      <textarea (blur)="handleErrors()" [formControl]="formAddScript.controls.description" matInput placeholder="Ex. It makes me feel..."></textarea>
      <mat-error> {{descriptionErr()}} </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="w-full">
      <mat-label>Price</mat-label>
      <input (blur)="handleErrors()" [formControl]="formAddScript.controls.price" matInput type="number" class="example-right-align" placeholder="0" />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
      <mat-error> {{priceErr()}} </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Script Status</mat-label>
      <mat-select (valueChange)="handleErrors()" [formControl]="formAddScript.controls.methodPayment" name="methodPayment">
        <option value="" selected></option>
        @for (opt of options; track $index) {
          <mat-option [value]="opt"> {{opt}} </mat-option>
        }
      </mat-select>
      <mat-error> {{methodPaymentErr()}} </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Youtube Link</mat-label>
      <input (blur)="handleErrors()" [formControl]="formAddScript.controls.youtubeLink" matInput placeholder="Ex. https://your-link-video">
      <mat-error> {{youtubelinkErr()}} </mat-error>
    </mat-form-field>

    <div class="flex justify-center">
      <button [disabled]="formAddScript.invalid" type="submit" mat-flat-button>Create service</button>
    </div>
  </form>
</section>
