<h1 class="text-center mt-14 mb-12 text-3xl">F.A.Q.</h1>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Are updates free?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Yes, scripts purchased through one-time payments include free updates.
            Subscriptions also come with free updates during the subscription period.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Are there refund options?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Refunds are only issued if the script has been removed within one week of purchase.
            Subscriptions are NOT refundable, as you gain access to all available scripts.
            The only way to request a refund for a subscription is if an error occurred after payment due to a site issue. 
            If you attempt to alter the page or compromise its security, and the payment hasn't processed correctly, 
            refunds may be possible. However, it's the user's responsibility to always adhere to site terms. Proof of 
            payment and lack of access to the product/service would need to be shown.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Is access to scripts permanent?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Yes, access to the script is permanent for one-time purchases. However, if you purchased a subscription, 
            access lasts only for the duration of the subscription. Misuse of the script or malicious actions may lead 
            to temporary or, in severe cases, permanent loss of access.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Where can I report script issues?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            You can report issues on our Discord server or through the 
            <a class="underline" routerLink="/support">support</a> section.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Is access to scripts permanent?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Yes, access to the script is permanent for one-time purchases. However, if you purchased a subscription, 
            access lasts only for the subscription period. Misuse of the script or malicious actions may lead to 
            temporary or, in severe cases, permanent loss of access.
        </p>
    </mat-expansion-panel>
</mat-accordion>
