<h1 class="text-center mt-14 mb-12 text-3xl">F.A.Q.</h1>

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Por qué algunos scripts son de pago?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Los scripts de pago ofrecen características avanzadas y soporte dedicado, lo que garantiza un producto de alta calidad, 
            seguro y con actualizaciones constantes. Además, el costo permite cubrir el tiempo de desarrollo y mantenimiento, 
            asegurando una experiencia óptima para los usuarios.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Por qué elegir nuestros servicios sobre la competencia?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Ofrecemos productos cuidadosamente diseñados y probados para garantizar seguridad, eficiencia y soporte continuo. 
            A diferencia de la competencia, proporcionamos actualizaciones regulares, un equipo de soporte disponible 24/7 y 
            una política de compensación en caso de fallos. Nuestra experiencia y compromiso nos convierten en la mejor opción.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Cómo garantizan la seguridad de los scripts?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Todos nuestros scripts son desarrollados con prácticas de codificación seguras y están protegidos contra accesos no autorizados. 
            Además, realizamos pruebas exhaustivas para minimizar cualquier riesgo y garantizar el mejor rendimiento.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Qué obtengo al comprar un script?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Al adquirir un script, obtienes acceso completo a sus funciones, soporte técnico para cualquier problema, actualizaciones 
            gratuitas y un producto diseñado para brindarte una experiencia óptima y sin complicaciones.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Qué sucede si tengo problemas con mi compra?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Si experimentas algún problema con tu compra, nuestro equipo de soporte está disponible para ayudarte. 
            Nos comprometemos a resolver cualquier inconveniente en un plazo de 3 días hábiles o, si es necesario, 
            ofrecerte un reembolso o compensación adicional.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Puedo recibir un reembolso?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            En general, no ofrecemos reembolsos. Sin embargo, si el producto no funciona o hay un problema con la compra, 
            revisaremos el caso para buscar una solución justa, que podría incluir un reembolso o compensación.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>¿Cómo me contacto para soporte?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Puedes contactarnos a través de nuestro correo electrónico: 
            <a href="mailto:jorge.yael.contact@gmail.com">jorge.yael.contact</a>. Nuestro equipo está disponible 24/7 
            para resolver cualquier duda o problema que puedas tener.
        </p>
    </mat-expansion-panel>

</mat-accordion>